header {

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 35px;
    font-family: poppins, sans-serif;
}


.nmlogo{
display: inline;
width: 194px;
height: 34px;

}

.phone{
    width: 49px;
    height: 54px;
    
}
}
