
#card1 {
    height: 60px;
    width: 60px;
    margin: 0 auto 17px;
    background-color: #67809f;
    color: #ffffff;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 60px;
    }
    
#card2 {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        background-color: #4183d7;
        color: #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 60px;
        }

 #card3 {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        background-color: #2ecc71;
        color: #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 60px;
            }

#card4 {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        background-color: #d64541;
        color: #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 60px;
                }

#card5{
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        background-color: #926fb1;
        color: #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 60px;
                    }
#card6{
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        background-color: #f62459;
        color: #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 60px;
                                    }
 #card7{
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        background-color: #926fb1;
        color: #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 60px;
                                    }                    